
<div class="container-fluid padding">
  <div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-md-8">
            <form class="padding" #mpesaReportForm="ngForm" (ngSubmit)="emailMpesaReport(mpesaReportForm.value)">
                <h3 class="text-center"><i class="fa-solid fa-hand"></i> Please confirm your details</h3> 
            <p class="text-center">We will send an email report to...</p>
                <div class="row hide">
                    <div class="col">
                        <input type="date" ngModel name="date" #date="ngModel" [(ngModel)]="mpesaDetails.date">
                        <input type="text" ngModel name="transaction_no" #transaction_no="ngModel" [(ngModel)]="mpesaDetails.transaction_no" id="tester-today-report">
                <input type="text" name="customer" #customer="ngModel" ngModel [(ngModel)]="mpesaDetails.customer" id="tester-yesterday-report">
                <input type="number" name="customer_no" #customer_no="ngModel" ngModel [(ngModel)]="mpesaDetails.customer_no">
                <input type="number" name="amount" #amount="ngModel" ngModel [(ngModel)]="mpesaDetails.amount">
                <input type="number" name="to_bank" #to_bank="ngModel" ngModel [(ngModel)]="mpesaDetails.to_bank">
                <input type="number" ngModel [(ngModel)]="mpesaDetails.total_td" #total_td="ngModel" name="total_td">
                <input type="number" placeholder="cumulative_amount" name="cumulative_amount" #cumulative_amount="ngModel" ngModel [(ngModel)]="mpesaDetails.cumulative_amount">
                <input type="text" placeholder="logged_by" name="logged_by" #logged_by="ngModel" ngModel [(ngModel)]="mpesaDetails.logged_by">
                    </div>
                </div>
                
                <div class="row">
                  <div class="col-lg-3"></div>
                    <div class="col-lg-6 rounded padding-2">
                        <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:2.5%;">
                            <mat-label>Your email</mat-label>
                            <input matInput placeholder="Your email" name="email" #email="ngModel" ngModel type="email" [(ngModel)]="currentUser.email" [errorStateMatcher]="matcher" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-hint>e.g {{emailExample}}</mat-hint>
                            <mat-error *ngIf="email.hasError('pattern')">
                              Please enter a <strong>valid email address</strong> 
                            </mat-error>
                            <mat-error *ngIf="email.hasError('required') || email.pristine">
                              Your email is <strong>required</strong>
                            </mat-error>
                          </mat-form-field> 
                          
                        <mat-form-field appearance="fill" class="padding-2 full-width" style="margin-top:5%;">
                            <mat-label>Your name</mat-label>
                            <input matInput placeholder="Your name" name="name" #name="ngModel" ngModel type="text" [(ngModel)]="currentUser.first_name" required minlength="3" maxlength="25">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-hint>e.g: John Doe</mat-hint>
                            <mat-error *ngIf="name.hasError('minlength')">
                              Your name should be at least <strong>3 characters</strong>.
                            </mat-error>
                            <mat-error *ngIf="name.hasError('maxlength')">
                              Your name cannot be more than <strong>25 characters</strong>.
                            </mat-error>
                            <mat-error *ngIf="name.hasError('required') || name.pristine">
                              Your name is <strong>required</strong>
                            </mat-error>
                          </mat-form-field> 
                          <br><br>
                          <div class="form-group text-center">
                            <button type="submit" class="margin-top2 w-100" mat-raised-button color="accent" [disabled]="mpesaReportForm.invalid"><i class="fa-solid fa-paper-plane"></i> Send</button>
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
    
  </div>  
  
</div>

