<div class="row">
    <div class="col-md-6">
        <form #regForm="ngForm" (mousemove)="confirmPass()" (mouseover)="confirmPass()" (mousedown)="confirmPass();" (keydown)="confirmPass();" (keyup)="confirmPass();" (keypress)="confirmPass();" (mouseleave)="confirmPass();" (ngSubmit)="signUp(regForm.value)" class="f-two padding-four">
            <h5 class="">Add User</h5><br>
                <mat-form-field class="w-50" appearance="fill" class="full-width" style="margin-top:5%;">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Enter username..." name="username" ngModel #username="ngModel" type="text" required minlength="4" maxlength="15">
                  <mat-error *ngIf="username.hasError('minlength')">
                    Username should be at least <strong>4 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="username.hasError('maxlength')">
                    Username cannot be more than <strong>15 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="username.hasError('required') || username.pristine">
                    Username is <strong>required</strong>
                  </mat-error>
                </mat-form-field>  
                <mat-form-field class="w-50" appearance="fill" class="rounded full-width" style="margin-top:5%;">
                  <mat-label>First name</mat-label>
                  <input matInput placeholder="Enter first name..." name="first_name" ngModel #first_name="ngModel" type="text" required minlength="3" maxlength="25">
                  <mat-error *ngIf="first_name.hasError('minlength')">
                    First name should be at least <strong>3 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="first_name.hasError('maxlength')">
                    First name cannot be more than <strong>25 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="first_name.hasError('required') || first_name.pristine">
                    First name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>  
                <mat-form-field class="w-50" appearance="fill" class="rounded full-width" style="margin-top:5%;">
                  <mat-label>Last name</mat-label>
                  <input matInput placeholder="Enter last name..." name="last_name" ngModel #last_name="ngModel" type="text" required minlength="3" maxlength="20">
                  <mat-error *ngIf="last_name.hasError('minlength')">
                    Last name should be at least <strong>3 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="last_name.hasError('maxlength')">
                    Last name cannot be more than <strong>25 characters</strong>.
                  </mat-error>
                  <mat-error *ngIf="last_name.hasError('required') || last_name.pristine">
                    Last name is <strong>required</strong>
                  </mat-error>
                </mat-form-field> 
                <mat-form-field class="w-50" appearance="fill" class="rounded full-width" style="margin-top:5%;">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter email..." name="email" ngModel #email="ngModel" type="email" [errorStateMatcher]="matcher" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
                  <mat-error *ngIf="email.hasError('pattern')">
                    Please enter a <strong>valid email address</strong> 
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required') || email.pristine">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field> 
                <mat-form-field class="w-50" appearance="fill" class="rounded full-width" style="margin-top:5%;">
                  <mat-label><span></span> Select Petrol Station </mat-label>
                  
                  <mat-select name="petrol_station" ngModel #petrol_station="ngModel" required>
                    <mat-option value="Station-Kisii" name="petrol_station" type="text">Station Kisii</mat-option>
                    <mat-option value="Station-Nairobi" name="petrol_station" type="text">Station Nairobi</mat-option>
                    <mat-option value="Station-Migori" name="petrol_station" type="text">Station Migori</mat-option>
                  </mat-select>
                  <mat-hint>Select <strong>one</strong></mat-hint>
                  <mat-error *ngIf="petrol_station.hasError('required') || petrol_station.pristine">
                    Petrol station is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50" appearance="fill" class="rounded full-width" style="margin-top:5%;">
                  <mat-label>Employee ID</mat-label>
                  <input matInput placeholder="Enter employee ID..." name="employee_id" ngModel #employee_id="ngModel" type="number" required>
                  <mat-hint><span class="alert alert-danger rounded">Employees of <strong>{{company}}.</strong></span></mat-hint>
                  <mat-error *ngIf="employee_id.hasError('required') || employee_id.pristine">
                    Employee ID is <strong>required</strong>
                  </mat-error>
                </mat-form-field> 
                <mat-form-field class="w-50" appearance="fill" class="rounded full-width" style="margin-top:5%;">
                  <mat-label><mat-icon matSuffix>security</mat-icon> Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" placeholder="Start typing..." name="password" ngModel #password="ngModel" required (valid)="isValid($event)" (mousedown)="onKeyOne($event)" (keydown)="onKeyOne($event)" (keyup)="onKeyOne($event)" (keypress)="onKeyOne($event)" (mousemove)="onKeyOne($event)" (mouseleave)="onKeyOne($event)">
                  <h6 id="pass1" class="hide">{{value}}</h6>
                  <mat-hint>Create a <strong>strong password</strong></mat-hint>
                  <mat-error *ngIf="password.hasError('required') || password.pristine">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="w-50" *ngIf="!noPass2" appearance="fill" class="rounded full-width" style="margin-top:5%;">
                  <mat-label><mat-icon matSuffix>security</mat-icon> Confirm password</mat-label>
                  <input matInput id="password2" [type]="hide ? 'password' : 'text'" placeholder="Start typing..." (mousemove)="onKey($event);" (mouseover)="onKey($event);"  (mousedown)="onKey($event);" (keydown)="onKey($event);" (keyup)="onKey($event);" (keypress)="onKey($event);" (mouseleave)="onKey($event);" name="password2" ngModel #password2="ngModel" required>
                  <h6 id="pass2" class="hide">{{values}}</h6>
                  <mat-hint><span *ngIf="errPass" class="alert alert-danger rounded bold">{{errPass}}</span><span *ngIf="!errPass"><span *ngIf="noMatch" class="alert alert-danger rounded">Your passwords <strong>don't match</strong></span> <span *ngIf="!noMatch" class="alert alert-info rounded"> Passwords <strong>match &nbsp;<i class="fa-solid fa-thumbs-up"></i></strong> </span></span></mat-hint>
                  <mat-error *ngIf="password2.hasError('required') || password2.pristine">
                    Password is <strong>required</strong>
                  </mat-error>
                  
                </mat-form-field> 
            <br><br>
              <div class="text-center form-group padding-bottom">
                <button type="submit" style="margin-top:1%;" mat-raised-button color="accent" [disabled]="regForm.invalid" (click)="reload()">Save</button> &nbsp;&nbsp; <button type="submit" (click)="reset();" style="margin-top:1%;" mat-flat-button color="accent" [disabled]="regForm.invalid">Save and add another</button>
                <br><br>
              
            </div>
          </form>
        <br><br>
    </div>
    <div class="col-md-6"></div>
  </div>