

<div class="container-fluid color-two padding contact">
    
    <div class="row">
        <div class="col-lg-7">
            <div class=" padding" style="height:500px;">
                <h2 class="text-center">Contact management</h2>
                <app-contact-form></app-contact-form>
                <br><br>
                <div class="text-center">
                    <span class="color-two padding-2">
                    <small>or reach us</small> &nbsp;&nbsp;<a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/"><i class="fa-brands fa-square-twitter"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>&nbsp;&nbsp;&nbsp;<a href="tel:+254708646667"><i class="fa-solid fa-square-phone"></i></a>
                </span>
            </div>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="https://res.cloudinary.com/benie/image/upload/v1669956664/undraw_contact_us_re_4qqt_mzgsil.svg" height="250" style="max-width:100%;" alt=""><br>
        </div>

    </div>
    
    <br><br><br>
    <br>
</div>

