<footer>
    <div class="container-fluid footer-content footer">
        <div class="row">
            <div class="col-md-4 center">
                <p><i class="fa-solid fa-copyright"></i> {{year}}  LogOnGo</p>
            </div>
            <div class="col-md-4 center" *ngIf="authenticated">
                <a routerLink="/user/{{currentUser.username}}/contact/admin"><p><i class="fa-solid fa-message"></i> Management</p></a>
            </div>
            <div class="col-md-4 center" *ngIf="authenticated">
                <a routerLink="/user/{{currentUser.username}}/report/incident"><p><i class="fa-solid fa-flag"></i> Incidents</p></a>
            </div>
            <div class="col-md-4 center" *ngIf="!authenticated">
                <p><i class="fa-solid fa-message"></i> Management</p>
            </div>
            <div class="col-md-4 center" *ngIf="!authenticated">
                <p><i class="fa-solid fa-flag"></i> Incidents</p>
            </div>
        </div>
    </div>
</footer>

