<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form
      [formGroup]="regForm"
      (ngSubmit)="signUp()"
      class="f-two padding-four"
    >
      <h1 class="text-center">
        <i class="fa-solid fa-user-plus"></i> Register
      </h1>
      <mat-form-field appearance="fill" style="margin-top: 5%" class="w-100">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter username..."
          type="text"
          required
          minlength="4"
          maxlength="15"
          [formControlName]="'username'"
        />
        <mat-icon matSuffix>account_box</mat-icon>
        <mat-hint
          >Min <strong>4 char</strong> | Max <strong>15 char</strong></mat-hint
        >
        <mat-error *ngIf="regForm.controls.username.hasError('minLength')">
          Username should be at least <strong>4 characters</strong>.
        </mat-error>
        <mat-error *ngIf="regForm.controls.username.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        class="rounded w-100"
        style="margin-top: 5%"
      >
        <mat-label>First name</mat-label>
        <input
          matInput
          placeholder="Enter first name..."
          name="first_name"
          type="text"
          required
          minlength="3"
          maxlength="25"
          [formControlName]="'first_name'"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint
          >Min <strong>3 char</strong> | <strong>Max: 25 char</strong></mat-hint
        >
        <mat-error *ngIf="regForm.controls.first_name.hasError('minLength')">
          First name should be at least <strong>3 characters</strong>.
        </mat-error>
        <mat-error
          *ngIf="
            regForm.controls.first_name.hasError('required') ||
            regForm.controls.first_name.pristine
          "
        >
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="fill"
        class="rounded w-100"
        style="margin-top: 5%"
      >
        <mat-label>Last name</mat-label>
        <input
          matInput
          placeholder="Enter last name..."
          name="last_name"
          type="text"
          required
          minlength="3"
          maxlength="20"
          [formControlName]="'last_name'"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-hint
          >Min <strong>3 char</strong> | Max <strong>20 char</strong></mat-hint
        >
        <mat-error *ngIf="regForm.controls.last_name.hasError('minLength')">
          Last name should be at least <strong>3 characters</strong>.
        </mat-error>
        <mat-error
          *ngIf="
            regForm.controls.last_name.hasError('required') ||
            regForm.controls.last_name.pristine
          "
        >
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="rounded w-100"
        style="margin-top: 5%"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter email..."
          name="email"
          type="email"
          required
          [formControlName]="'email'"
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint
          >e.g <strong>{{ emailExample }}</strong>
        </mat-hint>
        <mat-error *ngIf="regForm.controls.email.hasError('email')">
          Please enter a <strong>valid email address</strong>
        </mat-error>
        <mat-error
          *ngIf="
            regForm.controls.email.hasError('required') ||
            regForm.controls.email.pristine
          "
        >
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="rounded w-100"
        style="margin-top: 5%"
      >
        <mat-label
          ><span><mat-icon>local_gas_station</mat-icon></span> Select Petrol
          Station
        </mat-label>

        <mat-select
          name="petrol_station"
          required
          [formControlName]="'petrol_station'"
        >
          <mat-option value="" disabled selected
            >--Petrol Stations--</mat-option
          >
          <mat-option value="Station-Kisii" name="petrol_station" type="text"
            >Station Kisii</mat-option
          >
          <mat-option value="Station-Nairobi" name="petrol_station" type="text"
            >Station Nairobi</mat-option
          >
          <mat-option value="Station-Migori" name="petrol_station" type="text"
            >Station Migori</mat-option
          >
        </mat-select>
        <mat-hint>Select <strong>one</strong></mat-hint>
        <mat-error
          *ngIf="
            regForm.controls.petrol_station.hasError('required') ||
            regForm.controls.petrol_station.pristine
          "
        >
          Petrol station is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="rounded w-100"
        style="margin-top: 5%"
      >
        <mat-label><mat-icon matSuffix>security</mat-icon> Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Start typing..."
          name="password"
          required
          [formControlName]="'password'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint>Create a <strong>strong password</strong></mat-hint>
        <mat-error
          *ngIf="
            regForm.controls.password.hasError('required') ||
            regForm.controls.password.pristine
          "
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="rounded w-100"
        style="margin-top: 5%"
      >
        <mat-label
          ><mat-icon matSuffix>security</mat-icon> Confirm password</mat-label
        >
        <input
          matInput
          id="password2"
          [type]="hide2 ? 'password' : 'text'"
          placeholder="Start typing..."
          name="password2"
          required
          [formControlName]="'password2'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide2 = !hide2"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2"
        >
          <mat-icon>{{ hide2 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-hint
          *ngIf="
            regForm.controls.password2.value !== '' && passwordsMatch() === true
          "
        >
          Your passwords
          <strong>match</strong>
        </mat-hint>
        <mat-hint
          *ngIf="
            regForm.controls.password2.value !== '' &&
            passwordsMatch() === false
          "
          class="text-danger"
        >
          Your passwords
          <strong>don't match</strong>
        </mat-hint>
        <mat-error
          *ngIf="
            regForm.controls.password2.hasError('required') ||
            regForm.controls.password2.pristine
          "
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br /><br />
      <button
        class="margin-top w-100"
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="regForm.invalid || passwordsMatch() === false"
      >
        <span><i class="fa-solid fa-user-shield"></i></span> Sign up
      </button>
      <br /><br />
      <a type="button" routerLink="/auth"
        ><p class="small">or <strong>Login here</strong></p></a
      >
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
