<div class="container-fluid color-two padding incidents">
    <div class="row rounded">
        <div class="col-md-6 padding">
            <div class="row">
                <div class="col-sm-6">
                    <div class="color-two padding rounded">
                        <app-incident-instructions></app-incident-instructions>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="https://res.cloudinary.com/benie/image/upload/v1669956626/undraw_questions_re_1fy7_w2hzi7.svg" height="250px;" alt="">
                </div>
            </div>
            
        </div>
        <div class="col-md-6 padding-2 rounded">
            
            <div class=" padding rounded">
            <app-incident-form></app-incident-form>
            </div>
        </div>

        
    </div>
    <br><br><br><br>
    
    
</div>

